body{
  background-color: grey;
}

h1 {
  color:red;
}

p{
  font-style: italic;
  margin-left:30px;
}

.del{
  color:red;
  text-decoration: line-through;
}

.add{
  color:green;
}

.subst{
  font-style: normal
}

